image: microsoft/dotnet:latest

variables:
  FEED_URL: http://192.168.2.149:5555/v3/index.json
  API_KEY: NUGET-SERVER-API-KEY

stages:
- build
- test
- deploy

build:
  stage: build
  artifacts:
    expire_in: 12 hours
    paths:
      - artifacts
  script:
    - bash ./build.sh build

test:
  stage: test
  dependencies:
    - build
  script:
    - bash ./build.sh test
     
deploy:
  stage: deploy
  script:
    - bash ./build.sh pack+push -MyGetSource $FEED_URL -MyGetApiKey $API_KEY
  when: manual
  only:
  - master
 
